<template>
  <div>
    <q-dialog persistent v-model="show">
      <base-card class="game-over-card">
        <div class="zombie-emoji">
          <base-emoji
            :size="64"
            :native="false"
            :emoji="`male_zombie`"
            :skin="$store.getters.getDialogEmojiTone"
          ></base-emoji>
          <base-emoji
            :size="64"
            :native="false"
            :emoji="`zombie`"
            :skin="$store.getters.getDialogEmojiTone"
          ></base-emoji>
          <base-emoji
            :size="64"
            :native="false"
            :emoji="`female_zombie`"
            :skin="$store.getters.getDialogEmojiTone"
          ></base-emoji>
        </div>
        <q-card-section v-if="$store.getters.getWelcome">
          <page-text class="title">Zombie Mode.</page-text>
          <zombie-settings v-if="showSettings" />
          <div class="buttons">
            <base-btn
              class="full-width"
              @click.native="showSettings = !showSettings"
            >
              Settings
            </base-btn>
            <base-btn
              class="full-width"
              @click.native="
                $store.dispatch('resetZombies', {
                  initial: true,
                  created: false
                })
              "
            >
              Start
            </base-btn>
            <base-btn @click.native="$router.push('/')">Exit</base-btn>
          </div>
        </q-card-section>
        <q-card-section v-else>
          <page-text class="title">Game Over.</page-text>
          <zombie-settings v-if="showSettings" />
          <div class="buttons">
            <base-btn
              class="full-width"
              @click.native="showSettings = !showSettings"
            >
              Show Settings
            </base-btn>
            <base-btn
              class="full-width"
              @click.native="
                $store.dispatch('resetZombies', {
                  initial: false,
                  created: false
                })
              "
            >
              Play Again
            </base-btn>
            <base-btn @click.native="$router.push('/')">Exit</base-btn>
          </div>
        </q-card-section>
      </base-card>
    </q-dialog>
  </div>
</template>

<script>
import ZombieSettings from "./ZombieSettings.vue";
export default {
  components: {
    ZombieSettings
  },
  data() {
    return {
      showZombieSettings: false
    };
  },
  computed: {
    showSettings: {
      get() {
        return this.showZombieSettings;
      },
      set() {
        this.showZombieSettings = !this.showZombieSettings;
      }
    },
    show: {
      get() {
        return (
          this.$store.getters.getGameOver || this.$store.getters.getWelcome
        );
      }
    }
  }
};
</script>

<style scoped>
.game-over-card {
  padding: 15px;
  min-width: 250px;
}
.zombie-emoji {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-family: monospace;
  text-align: center;
}
.buttons {
  display: grid;
  gap: 10px;
}
</style>
