<template>
  <div class="settings">
    <base-emoji
      :size="32"
      :native="false"
      :emoji="`stopwatch`"
      :skin="$store.getters.getDialogEmojiTone"
    ></base-emoji>
    <q-slider
      label
      :min="100"
      :max="1000"
      :dark="$store.getters.isDark"
      v-model="zombieSpeed"
    ></q-slider>
    <base-emoji
      :size="32"
      :native="false"
      :emoji="`hash`"
      :skin="$store.getters.getDialogEmojiTone"
    ></base-emoji>
    <q-slider
      label
      :min="1"
      :max="100"
      :dark="$store.getters.isDark"
      v-model="zombieCount"
    ></q-slider>
  </div>
</template>

<script>
export default {
  computed: {
    zombieCount: {
      get() {
        return this.$store.getters.getZombieCount;
      },
      set(count) {
        this.$store.commit("setZombieCount", count);
      }
    },
    zombieSpeed: {
      get() {
        return this.$store.getters.getZombieMoveInterval;
      },
      set(speed) {
        this.$store.commit("setZombieMoveInterval", speed);
      }
    }
  }
};
</script>

<style scoped>
.settings {
  text-align: center;
}
</style>
