<template>
  <div :id="`delete_emojirama_${uuid}`">
    <div class="delete" @click="show = !show">
      <base-emoji :native="false" :emoji="`wastebasket`"></base-emoji>
    </div>
    <q-dialog v-model="show">
      <base-card>
        <q-card-section>
          <page-text>{{ $t("Delete this emojirama?") }}</page-text>
        </q-card-section>
        <div :id="`confirm_delete_emojirama_${uuid}`" class="delete-button">
          <div @click="deleteEmojirama">
            <emoji-button
              :backgroundColor="`white`"
              :native="false"
              :emoji="`wastebasket`"
            />
          </div>
        </div>
      </base-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      show: false,
      loading: true
    };
  },
  props: {
    uuid: {
      type: String
    }
  },
  methods: {
    deleteEmojirama() {
      this.$store
        .dispatch("deleteEmojirama", { uuid: this.uuid, vm: this })
        .then(() => {
          this.show = false;
          this.$emit("reload");
        });
    }
  }
};
</script>

<style scoped>
.delete {
  display: inline;
  cursor: pointer;
}
p {
  margin-bottom: 0px;
}
.delete-button {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.button-wrapper {
  padding: 5px;
}
span.emoji-mart-emoji {
  height: 24px !important;
}
</style>
