<template>
  <div class="q-gutter-md">
    <q-carousel
      v-model="slide"
      transition-prev="scale"
      transition-next="scale"
      swipeable
      animated
      control-color="white"
      navigation
      padding
      height="300px"
      :class="
        `text-white shadow-1 rounded-borders ${
          $store.getters.isDark ? 'carousel-dark' : 'carousel-light'
        }`
      "
    >
      <q-carousel-slide name="style" class="column no-wrap flex-center">
        <base-emoji
          :size="64"
          :emoji="`tada`"
          @click.native="toggleLeftDrawer"
          :native="false"
        />
        <div class="q-mt-md text-center">
          <p style="font-size: 1.5rem;">
            {{ $t("welcome to emojirama") }}
          </p>
        </div>
      </q-carousel-slide>
      <q-carousel-slide
        v-if="!$store.getters.isStandalone"
        name="tv"
        class="column no-wrap flex-center"
      >
        <base-emoji
          :size="64"
          :emoji="`iphone`"
          @click.native="toggleLeftDrawer"
          :native="false"
        />
        <br />
        <q-btn @click.native="show = true">get the app</q-btn>
        <q-dialog v-model="getShow" @click.native="show = false">
          <base-card class="base-card">
            <q-list>
              <q-item>
                <q-item-section avatar>
                  <base-emoji
                    :size="64"
                    :emoji="`outbox_tray`"
                    @click.native="toggleLeftDrawer"
                    :native="false"
                  />
                </q-item-section>
                <q-item-section
                  ><span> Click <b>Share</b> </span>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section avatar>
                  <base-emoji
                    :size="64"
                    :emoji="`heavy_plus_sign`"
                    @click.native="toggleLeftDrawer"
                    :native="false"
                  />
                </q-item-section>
                <q-item-section>
                  <span>
                    Click
                    <b>Add to Home Screen</b>
                  </span>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section avatar>
                  <base-emoji
                    :size="64"
                    :emoji="`rocket`"
                    @click.native="toggleLeftDrawer"
                    :native="false"
                  />
                </q-item-section>
                <q-item-section>
                  <span>
                    <b>Launch the app</b>
                  </span>
                </q-item-section>
              </q-item>
            </q-list>
          </base-card>
        </q-dialog>
      </q-carousel-slide>
    </q-carousel>
  </div>
</template>

<script>
export default {
  data() {
    return {
      show: false,
      lorem: "Abc123",
      slide: "style"
    };
  },
  computed: {
    getShow: {
      get() {
        return this.show;
      },
      set(v) {
        this.show = v;
      }
    }
  }
};
</script>

<style scoped>
.base-card {
  padding: 10px;
}

.carousel-light {
  background: linear-gradient(270deg, red, orange);
}
.carousel-dark {
  background: linear-gradient(270deg, purple, teal);
}
</style>
