<template>
  <q-dialog v-model="show">
    <div class="wrapper">
      <base-card>
        <div class="menu-wrapper">
          <div class="profile-emoji">
            <div>
              <base-emoji
                :native="false"
                :sheetSize="64"
                :emoji="
                  $store.getters.isAuthenticated
                    ? selectedEmoji || $store.getters.getProfileEmoji
                    : `lock_with_ink_pen`
                "
                :size="64"
                :skin="selectedSkin"
              />
            </div>
          </div>
          <div>
            <base-btn
              class="full-width select-emoji-button"
              @click.native="showPicker = !showPicker"
              >Select Emoji</base-btn
            >
          </div>
          <div style="text-align:center;">
            <q-color
              v-model="toneHex"
              no-header
              no-footer
              default-view="palette"
              class="my-picker"
              :palette="[
                '#ffc93a',
                '#fadcbc',
                '#e0bb94',
                '#bf8e68',
                '#9b643c',
                '#584539'
              ]"
            />
          </div>
          <div v-if="showPicker" class="picker">
            <base-emoji-picker @selectEmoji="selectEmoji"></base-emoji-picker>
          </div>
          <div>
            <base-btn
              id="save-button"
              @click.native="saveProfile"
              class="full-width"
              color="primary"
              textColor="white"
              >Save</base-btn
            >
          </div>
        </div>
      </base-card>
    </div>
  </q-dialog>
</template>

<script>
export default {
  data() {
    return {
      showPicker: false,
      selectedEmoji: this.$store.getters.getProfileEmoji,
      toneHex: this.toneToHex(this.$store.getters.getProfileEmojiSkin),
      saveDisabled: false
    };
  },
  methods: {
    saveProfile() {
      const vm = this;
      this.$store
        .dispatch("saveProfile", { profile: this.profileJson, vm })
        .then(() => {
          this.showPicker = false;
          this.$store.commit("toggleProfileEditForm");
        });
    },
    selectEmoji(e) {
      this.selectedEmoji = e.id;
      this.showPicker = false;
    },
    toneToHex(tone) {
      const toneMap = {
        1: "#ffc93a",
        2: "#fadcbc",
        3: "#e0bb94",
        4: "#bf8e68",
        5: "#9b643c",
        6: "#584539"
      };
      const toneHex = toneMap[tone];
      return toneHex;
    }
  },
  computed: {
    selectedSkin() {
      const toneMap = {
        "#ffc93a": 1,
        "#fadcbc": 2,
        "#e0bb94": 3,
        "#bf8e68": 4,
        "#9b643c": 5,
        "#584539": 6
      };

      const toneNumber = toneMap[this.toneHex];
      return toneNumber;
    },
    profileJson() {
      return {
        emoji: {
          code: this.selectedEmoji,
          skin: this.selectedSkin
        }
      };
    },
    getShowPicker() {
      return this.showPicker;
    },
    show: {
      get() {
        return this.$store.getters.getShowProfileEditForm;
      },
      set() {
        this.$store.commit("toggleProfileEditForm");
      }
    }
  }
};
</script>

<style scoped>
/* .wrapper {
  height: 250px;
} */
div .emoji-mart {
  height: 250px;
}
.picker {
  position: relative;
}

.menu-wrapper {
  display: grid;
  gap: 10px;
  align-content: center;
  padding: 10px;
}

.profile-emoji {
  display: flex;
  justify-content: center;
}
</style>
