<template>
  <div>
    <div class="layers">
      <div class="dimensions">
        <base-input v-model="height" outlined label="Scene Height"></base-input>
        <base-input v-model="width" outlined label="Scene Width"></base-input>
      </div>
      <q-slider
        :min="1"
        :max="100"
        v-model="zoom"
        :dark="$store.getters.isDark"
      />
      <base-btn
        id="add-layer"
        @click.native="$store.dispatch('sceneConfig/addLayer')"
      >
        Add Layer
      </base-btn>
      <scene-config-layer
        :layer="layer"
        :key="i"
        :index="i"
        v-for="(layer, i) in $store.getters['sceneConfig/getLayers']"
      />
    </div>
  </div>
</template>

<script>
import SceneConfigLayer from "./SceneConfigLayer.vue";
export default {
  components: {
    SceneConfigLayer
  },
  computed: {
    zoom: {
      get() {
        return this.$store.getters["sceneConfig/getZoom"];
      },
      set(zoom) {
        this.$store.dispatch("sceneConfig/setZoom", { zoom });
      }
    },
    height: {
      get() {
        return this.$store.getters["sceneConfig/getHeight"];
      },
      set(height) {
        this.$store.commit("sceneConfig/setHeight", {
          height
        });
      }
    },
    width: {
      get() {
        return this.$store.getters["sceneConfig/getWidth"];
      },
      set(width) {
        this.$store.commit("sceneConfig/setWidth", {
          width
        });
      }
    }
  },
  props: {
    sceneConfig: {
      type: Array,
      default: () => []
    }
  }
};
</script>

<style scoped>
.layers {
  display: grid;
  gap: 10px;
}
.dimensions {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}
</style>
