<template>
  <base-page class="page-text">
    <page-text>
      <div class="header">
        <base-emoji
          :native="false"
          :sheetSize="64"
          :emoji="`information_source`"
          :size="64"
          :skin="1"
        />
        <page-header>about emojirama</page-header>
      </div>
    </page-text>
    <div class="emoji-header">
      <base-emoji :emoji="`iphone`" />
      <base-emoji :emoji="`video_game`" />
      <base-emoji :emoji="`book`" />
    </div>
    <page-text>
      emojirama.io is a web app for creating and sharing emoji stories and games
    </page-text>
    <div class="emoji-header">
      <base-emoji :emoji="`100`" />
      <base-emoji :emoji="`free`" />
      <base-emoji :emoji="`scales`" />
    </div>
    <page-text>it's free to use, 100% open-source and MIT licensed</page-text>
    <div class="emoji-header">
      <base-emoji :emoji="`calling`" />
      <base-emoji :emoji="`left_right_arrow`" />
      <base-emoji :emoji="`desktop_computer`" />
    </div>
    <page-text
      >you can visit emojirama.io on your mobile device or desktop in any
      browser or download the app
    </page-text>
    <div class="emoji-header">
      <base-emoji :emoji="`cloud`" />
      <base-emoji :emoji="`floppy_disk`" />
      <base-emoji :emoji="`computer`" />
    </div>
    <page-text>you can save your emojirama on your device or online</page-text>
    <div class="emoji-header">
      <base-emoji :emoji="`name_badge`" />
      <base-emoji :emoji="`lock_with_ink_pen`" />
      <base-emoji :emoji="`bust_in_silhouette`" />
    </div>
    <page-text>
      you can sign up for an account using Facebook, Google or GitHub, but you
      don’t have to
    </page-text>
    <div class="emoji-header">
      <base-emoji :emoji="`male_mage`" :skin="4" />
      <base-emoji :emoji="`elf`" :skin="2"></base-emoji>
      <base-emoji :emoji="`superhero`" :skin="3" />
    </div>
    <page-text>you can also pick your own emoji avatar</page-text>
    <div class="emoji-header">
      <base-emoji :emoji="`question`" :skin="2"></base-emoji>
      <base-emoji :emoji="`thinking_face`" :skin="4" />
      <base-emoji :emoji="`thought_balloon`" :skin="3" />
    </div>
    <page-text>
      what is an emojirama?
    </page-text>
    <page-text>
      an emojirama is a collection of connected 2D grids made with HTML, CSS,
      JavaScript and Unicode Emoticons. you can explore and interact with an
      emojirama by controlling your emoji avatar
    </page-text>
    <div class="emoji-header">
      <base-emoji :emoji="`zombie`" :skin="2"></base-emoji>
      <base-emoji :emoji="`female_zombie`" :skin="3" />
      <base-emoji :emoji="`male_zombie`" :skin="4" />
    </div>
    <page-text>there's also zombie mode!</page-text>
    <div class="emoji-header">
      <base-emoji :emoji="`e-mail`" :skin="2"></base-emoji>
      <base-emoji :emoji="`link`" :skin="4" />
      <base-emoji :emoji="`calling`" :skin="3" />
    </div>
    <page-text
      >you can share your emojirama with anyone by sending a link
    </page-text>
    <div class="emoji-header">
      <base-emoji :emoji="`camera_with_flash`" :skin="2"></base-emoji>
      <base-emoji :emoji="`film_frames`" :skin="4" />
      <base-emoji :emoji="`frame_with_picture`" :skin="3" />
    </div>
    <page-text>
      you can capture scenes from your emojirama adventures and share them
    </page-text>
    <div class="emoji-header">
      <base-emoji :emoji="`bird`" :skin="2"></base-emoji>
      <base-emoji :emoji="`mega`" :skin="4" />
      <base-emoji :emoji="`+1`" :skin="3" />
    </div>
    <page-text>
      follow emojirama.io on twitter @emojirama_io #emojirama
    </page-text>
    <div class="emoji-header">
      <base-emoji :emoji="`relaxed`" :skin="1" />
      <base-emoji :emoji="`pray`" :skin="1" />
      <base-emoji :emoji="`partying_face`" :skin="1" />
    </div>
    <page-text>thanks for checking out emojirama! </page-text>
    <br />
    <br />
    <div class="emoji-header">
      <base-emoji :emoji="`technologist`" :skin="3" />
      <base-emoji :emoji="`male-technologist`" :skin="5" />
      <base-emoji :emoji="`female-technologist`" :skin="2" />
    </div>
    <page-text> for developers</page-text>
    <page-text
      >the source code for emojirama is on GitLab:<br />
      <b>
        <a
          :style="{ color: `${$store.getters.isDark ? 'orange' : 'purple'}` }"
          href="https://gitlab.com/emojirama/game"
          >https://gitlab.com/emojirama/game</a
        >
      </b>
    </page-text>
    <div class="emoji-header">
      <base-emoji :emoji="`rocket`" :skin="3" />
      <base-emoji :emoji="`robot_face`" :skin="5" />
      <base-emoji :emoji="`toolbox`" :skin="2" />
    </div>
    <page-text>
      technologies, frameworks, tools
    </page-text>
    <br />
    <page-text>
      emojirama.io is built with open-source projects including:
    </page-text>
    <div class="emoji-header">
      <base-emoji :emoji="`snake`" :skin="2" />
    </div>
    <page-text>Python</page-text>
    <div class="emoji-header">
      <base-emoji :emoji="`horse`" :skin="2" />
    </div>
    <page-text>Django </page-text>
    <div class="emoji-header">
      <base-emoji :emoji="`spock-hand`" :skin="1" />
    </div>
    <page-text>Vue.js </page-text>
    <div class="emoji-header">
      <base-emoji :emoji="`milky_way`" :skin="1" />
    </div>
    <page-text>Quasar</page-text>
    <div class="emoji-header">
      <base-emoji :emoji="`elephant`" :skin="1" />
    </div>
    <page-text>PostgreSQL</page-text>
    <div class="emoji-header">
      <base-emoji :emoji="`star`" :skin="2" />
    </div>
    <page-text>Redis</page-text>
    <div class="emoji-header">
      <base-emoji :emoji="`whale`" :skin="2" />
    </div>
    <page-text>docker</page-text>
    <div class="emoji-header">
      <base-emoji :emoji="`fox_face`" :skin="2" />
    </div>
    <page-text>GitLab</page-text>
    <div class="emoji-header">
      <base-emoji :emoji="`scientist`" :skin="2" />
    </div>
    <page-text>Cypress</page-text>
    <br />
    <br />
    <div class="emoji-header">
      <base-emoji :emoji="`memo`" :skin="2" />
      <base-emoji :emoji="`white_check_mark`" :skin="5" />
      <base-emoji :emoji="`dart`" :skin="3" />
    </div>
    <page-text>project goals</page-text>
    <br />
    <div class="emoji-header">
      <base-emoji :emoji="`bookmark_tabs`" :skin="2" />
      <base-emoji :emoji="`100`" :skin="5" />
      <base-emoji :emoji="`safety_vest`" :skin="3" />
    </div>
    <page-text
      >learn, practice and document best practices for the entire
      SDLC</page-text
    >
    <div class="emoji-header">
      <base-emoji :emoji="`compass`" :skin="2" />
      <base-emoji :emoji="`world_map`" :skin="5" />
      <base-emoji :emoji="`boat`" :skin="3" />
    </div>
    <page-text
      >navigate changes and upgrades in new and existing technologies</page-text
    >
    <div class="emoji-header">
      <base-emoji :emoji="`kiss`" :skin="2" />
      <base-emoji :emoji="`credit_card`" :skin="5" />
      <base-emoji :emoji="`sunglasses`" :skin="3" />
    </div>
    <page-text
      >keep it simple, pay down technical debt and create a smooth developer
      experience</page-text
    >
    <div class="emoji-header">
      <base-emoji :emoji="`tada`" :skin="2" />
      <base-emoji :emoji="`building_construction`" :skin="3" />
      <base-emoji :emoji="`handshake`" :skin="5" />
    </div>
    <page-text>have fun, build things and make new friends</page-text>
  </base-page>
</template>

<script>
export default {
  created() {
    document.body.style["overflow-y"] = "scroll";
  }
};
</script>

<style lang="css" scoped>
.header {
  text-align: center;
  display: grid;
  justify-content: center;
  width: auto;
}

.emoji-header {
  display: inline;
}
.page-text {
  text-align: center;
}

h3 {
  margin: 1rem;
}
</style>
